aside{

    padding:20px;

    background:#252525;

    overflow:auto;

}

.panel-block{

    margin-top:25px;

}

button{

    width:100%;

    margin-bottom:12px;

    padding:12px;

    cursor:pointer;

}
/* ==========================================
   Captured Pieces
========================================== */

#white-captured {

    display: flex;

    flex-wrap: wrap;

    gap: 6px;

    padding: 6px;

}

.captured-piece {

    width: 42px;

    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f2f2f2;

    border-radius: 6px;

}

.captured-piece svg {

    width: 28px;

    height: 28px;

}


