/* ==========================================
   Side Panels
   Левая и правая панели
========================================== */

aside{

    padding:20px;

    background:#252525;

    overflow:auto;

}


/* ==========================================
   Panel Blocks
========================================== */

.panel-block{

    margin-top:25px;

}


/* ==========================================
   Buttons
========================================== */

button{

    width:100%;

    margin-bottom:12px;

    padding:12px;

    cursor:pointer;

}


/* ==========================================
   Captured Pieces
========================================== */

#white-captured{

    display:flex;

    flex-wrap:wrap;

    gap:6px;

    padding:6px;

}


.captured-piece{

    width:42px;

    height:42px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f2f2f2;

    border-radius:6px;

}


.captured-piece svg{

    width:28px;

    height:28px;

}


/* ==========================================
   Chess Timers
   Внешний вид шахматных часов
========================================== */

.timer{

    width:80px;

    padding:10px;

    text-align:center;

    font-size:18px;

    font-weight:bold;

    color:white;

    background:#303030;

    border:2px solid #505050;

    border-radius:8px;

    transition:
            box-shadow .25s,
            border-color .25s;

}


/* ==========================================
   Active Timer
   Сейчас идет ход этого игрока
========================================== */

.timer.active{

    border-color:lime;

    box-shadow:
            0 0 10px lime;

}
